<ion-view title="Wish List"> <ion-content
	class="has-header padding">
<div class="list card">

	<div class="item item-avatar">
		<img src="img\tesla_icon.jpg">
		<h2>Tesla Model S</h2>
		<p>May 13, 2014</p>
	</div>

	<div class="item item-body">
		<img class="full-image" src="img\tesla_real.jpg">
		<p>This is what Peter wants!
		</p>
		<p>
			<a href="#" class="subdued">1 Like</a> <a href="#" class="subdued">5
				Comments</a>
		</p>
	</div>

	<div class="item item-divider tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i>
			Like
		</a> <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i>
			Comment
		</a> <a class="tab-item" href="#"> <i class="icon ion-share"></i>
			Share
		</a>
	</div>
</div>
</ion-content> </ion-view>



